<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

<h2><center>用 pandas 分析奥运会的性数据</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [114]:
import pandas as pd
import numpy as np

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

__1. 1996年奥运会最年轻的男女参与者多大了？__

In [53]:
data[data['Year']==1996].groupby('Sex')['Age'].min()

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Consider only Gymnastics as a target sport. Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

__2. 在2000年奥运会的所有男性参赛者中，男子体操运动员的比例是多少？ 仅考虑体操作为目标运动。 将答案舍入第一个小数.__

*提示：*此处以及如果需要，可以进一步删除重复的运动员，只计算独特的运动员。

- 0.2
- 1.5 
- 2.5
- 7.7

In [46]:
a=data[(data['Year']==2000) & (data['Sex']=='M')][['Name','Sport']].drop_duplicates('Name')
'{:.1%}'.format(g[g['Sport']=='Gymnastics'].size/a.size)

'1.5%'

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1 

__3. 参加2000年奥运会的女子篮球运动员身高的平均值和标准差是多少？ 将答案舍入第一个小数.__

In [50]:
#使用round函数格式化小数位数
data[(data['Year']==2000) & (data['Sex']=='F') & (data['Sport']=='Basketball')]['Height'].describe().round(1)

count    142.0
mean     182.4
std        9.1
min      162.0
25%      175.0
50%      182.0
75%      190.0
max      213.0
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

__4. 找一位参加2002年奥运会的运动员，其中参加奥运会的人数最多。 他或她做了什么运动？__

In [74]:
data[data['Year']==2002].sort_values('Weight',ascending=False).iloc[0]['Sport']

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3 

__5. Paw Bratkiewicz多少次参加不同年份的奥运会？__

In [94]:
data[data['Name']=='Pawe Abratkiewicz'].drop_duplicates('Year').shape[0]

3

__6. How many silver medals in tennis did sportspeople from the Australia team win at the 2000 Olympics? Count every medal from every sportsperson.__

- 0
- 1 
- 2 
- 3 

__6. 在2000年奥运会上，澳大利亚队的运动员赢得了多少枚网球银牌？ 计算每个运动员的每枚奖牌.__

In [99]:
data[(data['Year']==2000) & (data['Team']=='Australia') & (data['Sport']=='Tennis')]['Medal'].dropna().count()

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

__7. 在2016年奥运会上，瑞士获得的奖牌数量是否比塞尔维亚少？ 不要在_Medal_列中考虑NaN值.__

In [104]:
Switzerland=data[(data['Team']=='Switzerland') & (data['Year']==2016) & (data['Medal'].notna())]['Medal'].count()
Serbia=data[(data['Team']=='Serbia') & (data['Year']==2016) & (data['Medal'].notna())]['Medal'].count()

print(Switzerland)
print(Serbia)

11
54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

__8. 2014年奥运会参赛人数最少和最多的年龄类别是什么？__

In [115]:
data[data['Year']==2014]['Age'].agg([np.min, np.max])

amin    15.0
amax    55.0
Name: Age, dtype: float64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No 

__9. 在普莱西德湖举办夏季奥运会是真的吗？ 在圣莫里茨举办冬季奥运会是真的吗？__

In [130]:
data[(data['Season']=='Summer') & (data['City']=='Lake Placid')].size>0

False

In [129]:
data[(data['Season']=='Winter') & (data['City']=='Sankt Moritz')].size>0

True

__10. What is the absolute difference between the number of unique sports at the 1996 Olympics and 2016 Olympics?__

- 3 
- 10
- 27
- 34 

__10. 1996年奥运会和2016年奥运会的独特运动数量之间的绝对差异是什么？__

In [177]:
d1=data[(data['Year']==1996)]['Sport'].drop_duplicates().size
d2=data[(data['Year']==2016)]['Sport'].drop_duplicates().size
d1-d2

-3